* {
	font-family :calibri;
}

/*Setting the background image and color*/
body{margin:0;
	 background-repeat: no-repeat;
	 background-color: white;
	 background-image:url('EzVote.jpg');
	 background-attachment:fixed;
	 background-size:17%;
	 background-position:0px 55px;}

/*changing normal link colors*/
a:link {color:white;}
a:visited {color:white;}
a:hover {color:#0099CC;}
a:active {color:#0099CC;}

/*Sets the style for the links both before and after they have been visited in the header*/							  
a.linky:link, a.linky:visited{text-decoration: none; 
																  display: inline-block; 
																  text-align: center; 
																  line-height: 55px; 
																  padding-left: 10px;
																  padding-right: 10px;
																  color: #0099CC;}
				  
/*Sets the style for the links in the header including "create group" when the mouse hovers over the links*/				  
a.linky:hover {background: -moz-linear-gradient(top,  rgba(0,153,204,1) 0%, rgba(0,153,204,0.99) 1%, rgba(0,153,204,0.5) 58%, rgba(0,153,204,0.5) 83%, rgba(0,153,204,0.5) 100%); 
			  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,153,204,1)), color-stop(1%,rgba(0,153,204,0.99)), color-stop(58%,rgba(0,153,204,0.5)), color-stop(83%,rgba(0,153,204,0.5)), color-stop(100%,rgba(0,153,204,0.5))); 
			  background: -webkit-linear-gradient(top,  rgba(0,153,204,1) 0%,rgba(0,153,204,0.99) 1%,rgba(0,153,204,0.5) 58%,rgba(0,153,204,0.5) 83%,rgba(0,153,204,0.5) 100%); 
			  background: -o-linear-gradient(top,  rgba(0,153,204,1) 0%,rgba(0,153,204,0.99) 1%,rgba(0,153,204,0.5) 58%,rgba(0,153,204,0.5) 83%,rgba(0,153,204,0.5) 100%); 
			  background: -ms-linear-gradient(top,  rgba(0,153,204,1) 0%,rgba(0,153,204,0.99) 1%,rgba(0,153,204,0.5) 58%,rgba(0,153,204,0.5) 83%,rgba(0,153,204,0.5) 100%); 
			  background: linear-gradient(to bottom,  rgba(0,153,204,1) 0%,rgba(0,153,204,0.99) 1%,rgba(0,153,204,0.5) 58%,rgba(0,153,204,0.5) 83%,rgba(0,153,204,0.5) 100%); 
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#800099cc',GradientType=0 ); 
			  color: white;}
		
/*Sets the style for the poll sorting links on the home page and the user page*/
a.sortLink{text-decoration: none;
		   display: inline-block;
		   text-align: center;
		   width: 80px;
		   color: white;}
 
 /*Positions the greeting for the guest and user*/
#guest{padding-left: 10px;
       padding-right: 10px;
       display: inline-block;
	   color: #0099CC}
	   
/*Sets the style for the header*/	   
#links {position: fixed;
	   background-color: #2D3232; 
	   height: 55px;
	   width: 100%;}
	  
/*Sets the style for the log in "username" and "password"*/	  
#login{position:fixed; top:0; right:0;
	   color: white; 
	   padding-right: 10px;
	   border-collapse: collapse;}

#searchTable{position:fixed;
			 top:160px;
			 left:11px;}

/*Ads padding between the "username", "password", and login button*/
#login td{padding-right: 5px;}

/*Sets the color of error messages to red*/
.error{color:red;}

/*Sets the color and positioning of the options to sort the polls on the main page and user page*/
.polloptions{color: white;
			 padding-left: 150px;
			 padding-top: 10px;}

/*Sets all the user pages forms style and positioning on the page*/
.formstyle{width: 450px;
		   padding-left:100px;
		   padding-top: 20px;
		   background-color: #2D3232;
		   margin-left: 300px;
		   margin-top: 200px;
		   border-radius: 10px;
		   color: white;}

/*Sets the color of the headings for the user page forms*/
.heading, h1{color:#0099CC;}
		
/*Sets the style for the choices section of the create.php page to match the formstyle styling*/
#Choices{text-align: left;
		 margin-left: 0px;}
		 
.checkFilters{color:#0099CC;}

.ascImg
{
	height: 15px;
}

.sortBtn
{
	background: none repeat scroll 0 0 #2D3232;
    border: medium none;
    border-radius: 5px;
    color: #0099CC;
    padding-left: 1em;
}

.sortBtn.selected
{
	background: none repeat scroll 0 0 #0099CC;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    padding-left: 1em;
}